/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  #nav {
    background-color: #540b51;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.block {
    display: flex;
}

.logo {
    height: 20px;
    margin: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.button {
    background-color: transparent;
}

header {
    background-color: #540b51;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    gap: 100px;
}

.headerpic {
    height: 100vh;
    width: 100vw;

}

/*seletores avançados*/

.headerpic > img { 
    width: 100vw;
}

.headertext1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.headertext2 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.signbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnersection {
    background-color: bisque;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.partners {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.parsimg {
    height: 40px;
    margin-top: 30px;
}

